* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

a {
  text-decoration: none !important;
  transition: all .5s; }

ul {
  list-style-type: none;
  margin-bottom: 0; }
  ul li {
    display: block; }

ol {
  list-style-type: none; }
  ol li {
    display: block; }

body .content-wrapper {
  background: #F9FAFC; }
  body .content-wrapper .content-header {
    padding: 0;
    height: 48px;
    display: flex;
    align-items: center;
    background: #EFF2F7; }
    body .content-wrapper .content-header .box_button {
      display: flex;
      align-items: center;
      margin-bottom: 0; }
      body .content-wrapper .content-header .box_button .button_item a {
        font-size: 14px;
        font-weight: normal;
        color: #3C4A5E;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px; }
        body .content-wrapper .content-header .box_button .button_item a i {
          font-size: 22px;
          padding-right: 10px; }
        body .content-wrapper .content-header .box_button .button_item a:hover {
          background: #E4ECF6; }
      body .content-wrapper .content-header .box_button .button_item .btn_header {
        background: transparent;
        border: none;
        height: 48px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        color: #3C4A5E; }
        body .content-wrapper .content-header .box_button .button_item .btn_header i {
          font-size: 16px;
          padding-right: 10px; }
      body .content-wrapper .content-header .box_button .button_item:hover {
        background: #E4ECF6; }
    body .content-wrapper .content-header .tab_custom {
      display: flex;
      align-items: center;
      margin-bottom: 0; }
      body .content-wrapper .content-header .tab_custom .tab_item {
        padding: 14px 0;
        height: 48px; }
        body .content-wrapper .content-header .tab_custom .tab_item a {
          font-size: 14px;
          font-weight: normal;
          color: #3C4A5E;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 20px;
          border-right: 1px solid #979797; }
          body .content-wrapper .content-header .tab_custom .tab_item a.active {
            color: #39475B;
            font-weight: 500; }
        body .content-wrapper .content-header .tab_custom .tab_item:last-child a {
          border-right: 0; }
  body .content-wrapper .content {
    padding: 20px; }
    body .content-wrapper .content .card {
      border-radius: 10px; }
      body .content-wrapper .content .card .card-header {
        height: 70px;
        display: flex;
        align-items: center; }
        body .content-wrapper .content .card .card-header input {
          font-size: 12px;
          height: 36px;
          border-color: #E9ECF0;
          padding-left: 10px; }
          body .content-wrapper .content .card .card-header input:focus {
            box-shadow: none; }
        body .content-wrapper .content .card .card-header .custom_box_search input {
          max-width: 360px;
          border-radius: 4px 0 0 4px; }
        body .content-wrapper .content .card .card-header .custom_box_search .input-group-append button {
          width: 56px;
          border-radius: 0 4px 4px 0;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #39475B;
          background: #F0F3F7;
          border-color: #E9ECF0; }
        body .content-wrapper .content .card .card-header .custom_box_date {
          min-height: 36px;
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          body .content-wrapper .content .card .card-header .custom_box_date .input-group-prepend .input-group-text {
            min-height: 36px;
            width: 56px;
            border-radius: 4px 0 0 4px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #39475B;
            background: #F0F3F7;
            border-color: #E9ECF0; }
          body .content-wrapper .content .card .card-header .custom_box_date input {
            max-width: 238px;
            border-radius: 0 4px 4px 0; }
        body .content-wrapper .content .card .card-header .dropdown-menu {
          padding: 0;
          border: none;
          box-shadow: none; }
          body .content-wrapper .content .card .card-header .dropdown-menu .dropdown-item {
            padding: 12px 10px;
            display: flex;
            align-items: center;
            color: #3B7CFF;
            height: 44px; }
            body .content-wrapper .content .card .card-header .dropdown-menu .dropdown-item i {
              border-radius: 100%;
              border: 1px solid #333;
              padding: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px; }
            body .content-wrapper .content .card .card-header .dropdown-menu .dropdown-item .icheck-primary label {
              font-size: 12px;
              font-weight: normal;
              color: #8998AC; }
              body .content-wrapper .content .card .card-header .dropdown-menu .dropdown-item .icheck-primary label:before {
                width: 20px;
                height: 20px; }
        body .content-wrapper .content .card .card-header .btn_dropdown {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #CBCBCB;
          border: 1px solid #CBCBCB;
          border-radius: 100%;
          margin-left: 20px; }
          body .content-wrapper .content .card .card-header .btn_dropdown:after {
            display: none; }
        body .content-wrapper .content .card .card-header .custom_btn {
          width: 115px;
          height: 36px;
          background-color: #FFFFFF;
          border: 1px solid #CBCBCB;
          padding: 0 21px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          font-weight: normal;
          color: #CBCBCB;
          transition: all .5s; }
          body .content-wrapper .content .card .card-header .custom_btn:hover {
            border: 1px solid #CF0656;
            font-size: 14px;
            font-weight: normal;
            color: #CF0656; }
      body .content-wrapper .content .card .card-body {
        padding: 20px; }
        body .content-wrapper .content .card .card-body .table_custom thead tr {
          background-color: #F9FAFC; }
          body .content-wrapper .content .card .card-body .table_custom thead tr th {
            border-bottom: none;
            border-top: none;
            background-color: #F9FAFC; }
            body .content-wrapper .content .card .card-body .table_custom thead tr th a {
              color: #39475B; }
              body .content-wrapper .content .card .card-body .table_custom thead tr th a .ti-control-play {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                display: inline-block;
                margin-left: 14px;
                font-size: 12px; }
        body .content-wrapper .content .card .card-body .table_custom tbody tr:nth-of-type(even) {
          background-color: #F9FAFC; }
        body .content-wrapper .content .card .card-body .table_custom tbody tr:nth-of-type(odd) {
          background-color: #FCFDFF; }
        body .content-wrapper .content .card .card-body .table_custom tbody tr td {
          vertical-align: middle;
          border-top: none;
          font-size: 13px;
          font-weight: normal;
          color: #8392A7; }
          body .content-wrapper .content .card .card-body .table_custom tbody tr td a {
            font-size: 13px;
            font-weight: normal;
            color: #8392A7;
            margin-right: 40px; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td a i {
              font-size: 20px;
              font-weight: normal;
              color: #3B4859; }
              body .content-wrapper .content .card .card-body .table_custom tbody tr td a i:hover {
                color: #CF0656; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td a:hover {
              color: #CF0656; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td a.btn_active {
              padding: 0; }
              body .content-wrapper .content .card .card-body .table_custom tbody tr td a.btn_active:after {
                display: none; }
          body .content-wrapper .content .card .card-body .table_custom tbody tr td .dropdown-menu {
            padding: 0;
            border-radius: 4px;
            border: none;
            box-shadow: none; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td .dropdown-menu:after {
              position: absolute;
              display: inline-block;
              border-bottom-color: rgba(0, 0, 0, 0.2);
              content: ''; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td .dropdown-menu:after {
              top: -6px;
              border-right: 6px solid transparent;
              border-bottom: 6px solid #fff;
              border-left: 6px solid transparent;
              left: 10px; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td .dropdown-menu .dropdown-item {
              font-size: 12px;
              font-weight: normal;
              color: #8998AC;
              padding: 8px; }
              body .content-wrapper .content .card .card-body .table_custom tbody tr td .dropdown-menu .dropdown-item:hover {
                background: #F0F3F7; }
          body .content-wrapper .content .card .card-body .table_custom tbody tr td .badge {
            width: 73px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: normal;
            border-radius: 15px; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td .badge.badge-success {
              background: #7ED321; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td .badge.badge-secondary {
              background: #DEDEDE; }
          body .content-wrapper .content .card .card-body .table_custom tbody tr td .text_active {
            color: #7ED321;
            font-size: 13px; }
          body .content-wrapper .content .card .card-body .table_custom tbody tr td .text_disable {
            color: #CBCBCB;
            font-size: 13px; }
          body .content-wrapper .content .card .card-body .table_custom tbody tr td .custom_img {
            border-radius: 4px;
            width: 34px;
            height: 34px;
            object-fit: cover; }
          body .content-wrapper .content .card .card-body .table_custom tbody tr td .custom_ipt {
            width: 64px;
            height: 26px;
            text-align: center;
            border-radius: 20px;
            border: 1px solid #8998AC;
            color: #8392A7; }
            body .content-wrapper .content .card .card-body .table_custom tbody tr td .custom_ipt:focus {
              box-shadow: none;
              outline: none; }
        body .content-wrapper .content .card .card-body .box_form {
          padding: 20px 20px 0; }
          body .content-wrapper .content .card .card-body .box_form .custom_input {
            margin-bottom: 21px;
            position: relative; }
            body .content-wrapper .content .card .card-body .box_form .custom_input label {
              font-size: 12px;
              font-weight: normal;
              color: #8998AC;
              margin-bottom: 4px; }
              body .content-wrapper .content .card .card-body .box_form .custom_input label span {
                font-size: 12px; }
            body .content-wrapper .content .card .card-body .box_form .custom_input input {
              font-size: 12px;
              font-weight: normal;
              color: #8998AC;
              border-radius: 4px;
              border: 1px solid #F0F3F7;
              height: 36px; }
              body .content-wrapper .content .card .card-body .box_form .custom_input input:focus {
                box-shadow: none; }
            body .content-wrapper .content .card .card-body .box_form .custom_input .box_radio {
              display: flex;
              align-items: center; }
              body .content-wrapper .content .card .card-body .box_form .custom_input .box_radio .custom_radio {
                display: block;
                position: relative;
                padding-left: 30px;
                margin-bottom: 0;
                cursor: pointer;
                font-size: 12px;
                font-weight: normal;
                color: #8998AC;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none; }
                body .content-wrapper .content .card .card-body .box_form .custom_input .box_radio .custom_radio input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer; }
                  body .content-wrapper .content .card .card-body .box_form .custom_input .box_radio .custom_radio input:checked ~ .checkmark {
                    background-color: #fff; }
                  body .content-wrapper .content .card .card-body .box_form .custom_input .box_radio .custom_radio input:checked ~ .checkmark:after {
                    display: block; }
                body .content-wrapper .content .card .card-body .box_form .custom_input .box_radio .custom_radio .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 16px;
                  width: 16px;
                  border: 1px solid #CBCBCB;
                  border-radius: 50%; }
                  body .content-wrapper .content .card .card-body .box_form .custom_input .box_radio .custom_radio .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #CF0656; }
                body .content-wrapper .content .card .card-body .box_form .custom_input .box_radio .custom_radio:first-child {
                  margin-right: 103px; }
            body .content-wrapper .content .card .card-body .box_form .custom_input .input-group .input-group-prepend .input-group-text {
              min-height: 36px;
              width: 56px;
              border-radius: 4px 0 0 4px;
              font-size: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #39475B;
              background: #F0F3F7;
              border-color: #E9ECF0; }
            body .content-wrapper .content .card .card-body .box_form .custom_input .input-group .input-group-prepend input {
              color: #8998AC; }
            body .content-wrapper .content .card .card-body .box_form .custom_input .select2 {
              font-size: 12px;
              font-weight: normal;
              color: #F0F3F7; }
              body .content-wrapper .content .card .card-body .box_form .custom_input .select2 .select2-selection--single {
                border-radius: 4px;
                border: 1px solid #F0F3F7;
                height: 36px; }
            body .content-wrapper .content .card .card-body .box_form .custom_input .box_icon_input {
              position: relative; }
              body .content-wrapper .content .card .card-body .box_form .custom_input .box_icon_input .ti {
                position: absolute;
                top: 50%;
                right: 3%;
                transform: translate(-50%, -50%);
                font-size: 16px; }
                body .content-wrapper .content .card .card-body .box_form .custom_input .box_icon_input .ti:hover {
                  cursor: pointer; }
      body .content-wrapper .content .card .card-footer {
        background: transparent;
        padding: 20px;
        padding-top: 0;
        display: flex;
        align-items: center; }
        body .content-wrapper .content .card .card-footer span {
          font-size: 13px;
          font-weight: normal;
          color: #8392A7;
          margin-left: 10px; }
  body .content-wrapper .pagination .page-item .page-link {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #3B4859; }
    body .content-wrapper .pagination .page-item .page-link.page_arrow {
      background: #EFF2F7; }
      body .content-wrapper .pagination .page-item .page-link.page_arrow:hover {
        background: #CF0656;
        color: #fff; }
    body .content-wrapper .pagination .page-item .page-link:hover {
      background: #CF0656;
      color: #fff; }
    body .content-wrapper .pagination .page-item .page-link.active {
      background: #CF0656;
      color: #fff; }
  body .content-wrapper .custom_select_option {
    border-radius: 15px;
    background: #CF0656;
    color: #fff;
    height: 30px;
    position: relative; }
    body .content-wrapper .custom_select_option .custom-select {
      background: transparent;
      color: #fff;
      width: 60px;
      border: none;
      box-shadow: none; }
      body .content-wrapper .custom_select_option .custom-select option {
        font-size: 12px;
        font-weight: normal;
        color: #8998AC;
        padding: 12px;
        text-align: center; }
    body .content-wrapper .custom_select_option .ti-control-play {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      -webkit-transform: translateY(-50%) rotate(90deg);
      display: inline-block; }

.custom_main_header {
  min-height: 64px;
  border-bottom: 0;
  padding: 0;
  padding-left: 20px; }
  .custom_main_header .navbar-nav .nav-item {
    font-size: 20px;
    font-weight: normal;
    color: #4A4A4A; }
    .custom_main_header .navbar-nav .nav-item > a {
      height: 64px;
      display: flex;
      align-items: center; }
    .custom_main_header .navbar-nav .nav-item .navbar-badge:empty {
      display: block;
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background: green;
      right: 15px;
      top: 25px; }
    .custom_main_header .navbar-nav .nav-item:last-child > a {
      padding: 0; }
      .custom_main_header .navbar-nav .nav-item:last-child > a img {
        height: 35px;
        box-shadow: none !important;
        margin-left: 6px; }
      .custom_main_header .navbar-nav .nav-item:last-child > a span {
        font-size: 14px;
        padding: 0 10px; }
      .custom_main_header .navbar-nav .nav-item:last-child > a:hover {
        background: #F0F3F7; }
  .custom_main_header .navbar-nav .change_group_user {
    position: relative; }
    .custom_main_header .navbar-nav .change_group_user button {
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0 0;
      border-radius: 0;
      font-size: 14px;
      font-weight: normal;
      color: #8998AC;
      display: flex;
      align-items: center; }
      .custom_main_header .navbar-nav .change_group_user button i {
        font-size: 27px; }
      .custom_main_header .navbar-nav .change_group_user button .ti-control-play {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        display: inline-block;
        margin-left: 14px;
        font-size: 12px; }
      .custom_main_header .navbar-nav .change_group_user button:hover {
        color: #CF0656; }
      .custom_main_header .navbar-nav .change_group_user button:focus {
        box-shadow: none;
        outline: none; }
    .custom_main_header .navbar-nav .change_group_user .box_change_group {
      position: absolute;
      width: 100%;
      background: #fff;
      height: 132px;
      overflow: scroll;
      overflow-x: hidden;
      display: none; }
      .custom_main_header .navbar-nav .change_group_user .box_change_group ul {
        position: relative; }
        .custom_main_header .navbar-nav .change_group_user .box_change_group ul li a {
          height: 44px;
          display: flex;
          align-items: center;
          padding: 0 10px;
          font-size: 12px;
          font-weight: normal;
          color: #8998AC; }
          .custom_main_header .navbar-nav .change_group_user .box_change_group ul li a i {
            font-size: 27px;
            margin-right: 11px; }
          .custom_main_header .navbar-nav .change_group_user .box_change_group ul li a:hover {
            background: #F0F3F7; }

/* Login */
body {
  font-family: 'Montserrat', sans-serif; }
  body .login__all {
    background: #f9fafc;
    overflow: hidden;
    height: 100vh; }
    body .login__all .login__background {
      background: url(../img/Background.png) no-repeat;
      background-size: cover !important;
      display: inline-block;
      width: 100%; }
      body .login__all .login__background .box__login {
        background: #fff;
        border-radius: 10px;
        border: 1px solid #dddddd;
        width: 360px;
        height: 512px;
        margin: 7% auto;
        padding: 69px 20px;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2); }
        body .login__all .login__background .box__login h1 {
          font-size: 18px;
          font-weight: bold;
          color: #cf0656;
          text-align: center;
          margin-bottom: 38px; }
        body .login__all .login__background .box__login h3 {
          font-size: 18px;
          margin-bottom: 30px; }
        body .login__all .login__background .box__login .box__input {
          position: relative; }
          body .login__all .login__background .box__login .box__input input {
            border-radius: 25px;
            min-height: 50px;
            width: 320px;
            font-size: 14px;
            padding-right: 50px; }
            body .login__all .login__background .box__login .box__input input:focus {
              border: 1px solid #dddddd;
              box-shadow: none; }
          body .login__all .login__background .box__login .box__input .ti {
            position: absolute;
            top: 50%;
            right: 3%;
            transform: translate(-50%, -50%);
            font-size: 16px; }
            body .login__all .login__background .box__login .box__input .ti:hover {
              cursor: pointer; }
        body .login__all .login__background .box__login .text_danger {
          font-size: 12px;
          font-weight: normal;
          color: #FB745B;
          margin-bottom: 18px;
          min-height: 18px; }
        body .login__all .login__background .box__login .custom_checkbox {
          margin-bottom: 20px !important; }
          body .login__all .login__background .box__login .custom_checkbox label {
            font-size: 12px;
            font-weight: normal;
            color: #8998AC;
            min-height: 16px;
            line-height: 16px; }
            body .login__all .login__background .box__login .custom_checkbox label::before {
              width: 16px;
              height: 16px;
              border-radius: 4px; }
            body .login__all .login__background .box__login .custom_checkbox label::after {
              transform: translate(4.75px, 1.5px) rotate(45deg);
              -ms-transform: translate(4.75px, 1.5px) rotate(45deg); }
        body .login__all .login__background .box__login .login__action .item {
          display: flex;
          align-items: center; }
          body .login__all .login__background .box__login .login__action .item a {
            font-size: 12px; }
          body .login__all .login__background .box__login .login__action .item:last-child {
            justify-content: flex-end; }
            body .login__all .login__background .box__login .login__action .item:last-child .btn {
              background-color: #cf0656;
              border: 1px solid #cf0656;
              padding: 12px 18px;
              border-radius: 30px;
              font-size: 14px;
              transition: all .5s; }
              body .login__all .login__background .box__login .login__action .item:last-child .btn:hover {
                background-color: #ffffff;
                color: #333333;
                border: 1px solid #cf0656; }
        body .login__all .login__background .box__login.box__forgot {
          height: auto; }

/* Menu */
body:not(.sidebar-mini-md) .content-wrapper {
  margin-left: 240px; }
body:not(.sidebar-mini-md) .main-header {
  margin-left: 240px; }

.custom__sidebar {
  background-color: #fff;
  width: 240px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) !important; }
  .custom__sidebar .custom__sidebar__brand {
    min-height: 64px;
    margin-bottom: 0;
    border-bottom: 0; }
    .custom__sidebar .custom__sidebar__brand a {
      display: flex;
      align-items: center;
      color: #CF0656;
      font-size: 18px;
      font-weight: bold; }
      .custom__sidebar .custom__sidebar__brand a img {
        box-shadow: none !important; }
      .custom__sidebar .custom__sidebar__brand a span {
        font-weight: bold; }
  .custom__sidebar::before {
    width: 240px; }
  .custom__sidebar .sidebar .nav-sidebar .nav-item.active a {
    background-color: #F0F3F7 !important;
    color: #CF0656 !important; }
  .custom__sidebar .sidebar .nav-sidebar .nav-item a {
    color: #343a40;
    font-size: 14px;
    min-height: 48px;
    display: flex;
    align-items: center;
    border-left: 0 !important; }
    .custom__sidebar .sidebar .nav-sidebar .nav-item a:not(.active):hover {
      color: #CF0656; }
    .custom__sidebar .sidebar .nav-sidebar .nav-item a.active {
      background-color: #F5F8FC;
      color: #39475B;
      box-shadow: none; }
    .custom__sidebar .sidebar .nav-sidebar .nav-item a p {
      display: flex;
      align-items: center; }
      .custom__sidebar .sidebar .nav-sidebar .nav-item a p i {
        top: initial; }
    .custom__sidebar .sidebar .nav-sidebar .nav-item a:focus {
      color: #343a40; }
    .custom__sidebar .sidebar .nav-sidebar .nav-item a .nav-icon {
      margin-right: 15px; }
  .custom__sidebar .sidebar .nav-sidebar .nav-item:hover a {
    background-color: #F0F3F7;
    color: #CF0656; }
  .custom__sidebar .sidebar .nav-sidebar .nav-item.menu-open a {
    background-color: #F5F8FC;
    color: #39475B; }
    .custom__sidebar .sidebar .nav-sidebar .nav-item.menu-open a i.right {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .custom__sidebar .sidebar .nav-sidebar .nav-item .nav-treeview .nav-item a {
    border-left: 0;
    padding-left: 40px; }
    .custom__sidebar .sidebar .nav-sidebar .nav-item .nav-treeview .nav-item a:hover {
      background-color: #F0F3F7;
      color: #CF0656; }
  .custom__sidebar .custom__sidebar__brand .ti {
    color: #343a40; }

/* User */
.box_info_user {
  display: flex;
  justify-content: center; }
  .box_info_user .item {
    width: 400px;
    height: 508px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #F2F4F8;
    float: left; }
    .box_info_user .item .box_img {
      text-align: center;
      margin: 0 auto;
      position: relative;
      display: table; }
      .box_info_user .item .box_img img {
        width: 92px;
        height: 92px;
        border-radius: 100%;
        object-fit: cover; }
      .box_info_user .item .box_img .custom_btn_upload {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0; }
        .box_info_user .item .box_img .custom_btn_upload .btn_upload {
          background-color: #fff;
          border: 1px solid #F2F4F8;
          padding: 0 0;
          border-radius: 100%;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 20px; }
        .box_info_user .item .box_img .custom_btn_upload input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0; }
    .box_info_user .item .custom_button {
      position: relative;
      background-color: #cf0656;
      border: 1px solid #cf0656;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: normal;
      color: #F0F3F7;
      transition: all .5s; }
      .box_info_user .item .custom_button:hover {
        background-color: #ffffff;
        color: #333333;
        border: 1px solid #cf0656; }
    .box_info_user .item .icheck-primary input:first-child:checked + label::before {
      background-color: #cf0656;
      border-color: #cf0656; }
    .box_info_user .item .icheck-primary input:first-child:not(:checked):not(:disabled):hover + label::before {
      border-color: #cf0656; }
    .box_info_user .item .icheck-primary label {
      font-size: 12px;
      font-weight: normal;
      color: #8998AC; }
    .box_info_user .item:first-child {
      margin-right: 20px; }
  .box_info_user.custom_detail_user .item {
    width: 373px;
    height: 579px; }

/* User group */
.content .card .card-header .title_card {
  font-size: 16px;
  font-weight: 500;
  color: #3B4859;
  margin-bottom: 0; }
.content .card .card-body .box_input {
  margin-bottom: 0; }
  .content .card .card-body .box_input label {
    font-size: 12px;
    font-weight: normal;
    color: #8998AC; }
    .content .card .card-body .box_input label span {
      color: #F50000; }
  .content .card .card-body .box_input input {
    width: 350px;
    height: 36px;
    font-size: 12px;
    border-radius: 4px; }
    .content .card .card-body .box_input input:focus {
      box-shadow: 0 0 0 0.2rem #EFF2F7;
      border-color: transparent;
      border: 1px solid #ced4da; }
.content .box_check_all {
  margin-top: 20px; }
  .content .box_check_all .move_row {
    display: flex;
    align-items: center;
    justify-content: center; }
    .content .box_check_all .move_row li {
      margin-bottom: 20px; }
      .content .box_check_all .move_row li .btn_move_row {
        width: 130px;
        height: 36px;
        background-color: #FFFFFF;
        border: 1px solid #CBCBCB;
        padding: 0 21px;
        border-radius: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        font-size: 12px;
        font-weight: normal;
        color: #CBCBCB;
        transition: all .5s; }
        .content .box_check_all .move_row li .btn_move_row:hover {
          border: 1px solid #CF0656;
          font-size: 12px;
          font-weight: normal;
          color: #CF0656; }
      .content .box_check_all .move_row li:last-child i {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        display: inline-block;
        font-size: 12px; }
  .content .box_check_all .card-body {
    display: inline-block;
    height: 502px;
    width: 100%;
    overflow-x: hidden;
    position: relative; }
    .content .box_check_all .card-body table thead th {
      position: sticky;
      top: 0;
      z-index: 999; }

/* Permission */
.file-list {
  border-left: 1px solid #aaa;
  padding-left: 18px !important; }
  .file-list .folder-root {
    margin-bottom: 0; }
  .file-list ul {
    margin-left: 14px;
    overflow: inherit !important;
    border-left: 1px solid #aaa;
    padding-top: 10px; }
  .file-list li {
    position: relative;
    padding-left: 0;
    margin-bottom: 10px; }
    .file-list li .icheck-primary {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
      max-height: 22px !important; }
      .file-list li .icheck-primary label {
        font-size: 12px;
        font-weight: normal;
        color: #8998AC;
        padding-left: 63px !important; }
      .file-list li .icheck-primary input:first-child + label::before {
        margin-left: -60px; }
      .file-list li .icheck-primary input:first-child + label::after {
        transform: translate(10.75px, 4.5px) rotate(45deg);
        -ms-transform: translate(10.75px, 4.5px) rotate(45deg); }
      .file-list li .icheck-primary input:first-child:not(:checked):not(:disabled):hover + label::before {
        border-color: #CF0656; }
      .file-list li .icheck-primary input:first-child:checked + label::before {
        background: #CF0656;
        border-color: #CF0656; }
    .file-list li.folder-root.open a i::before {
      content: "\e622"; }
    .file-list li.folder-root.closed a i::before {
      content: "\e61a"; }
    .file-list li::before {
      left: 36px; }
    .file-list li::after {
      display: block;
      content: " ";
      width: 21px;
      height: 1px;
      position: absolute;
      border-bottom: 1px solid #aaa;
      top: .7em;
      left: -18px; }
    .file-list li a {
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #CBCBCB;
      position: absolute;
      left: -28px;
      top: 1px;
      background: #fff;
      z-index: 999; }
      .file-list li a:before {
        display: none; }

.custom_tree {
  border-left: 0;
  padding-left: 0 !important; }
  .custom_tree ul {
    margin-left: 0;
    padding-left: 0;
    border-left: 0; }
  .custom_tree li {
    font-size: 12px;
    font-weight: normal;
    color: #8392A7; }
    .custom_tree li span {
      display: flex;
      align-items: center;
      min-height: 22px;
      max-height: 22px !important; }
    .custom_tree li::before {
      display: none; }
    .custom_tree li::after {
      display: none; }

/*# sourceMappingURL=main.css.map */
